$grey           : #8c8b8b;
$grey-2         : #909090;
$grey-3         : #707070;
$transparency   : rgba(140, 139, 139, 0.28);
$white          : #fff;
$hover-text     : #330d0e;
$bg-alternate   : #f2f1f1;
$title-color    : #272727;
$detail-color   : #ba3638;
$text-color     : #909090;
$font-default   : 'Montserrat', sans-serif;
$font-bold      : 'Montserrat-bold', sans-serif;
$font-bolder    : 'Montserrat-extra', sans-serif;
$title-size     : 30px;
$subTitle-size  : 18px;
$text-size      : 12px ;
$tooltip-text   : 24px; 